:root {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #feebc8;
  --color-bg-tertiary: #353e50;

  --color-text-primary: #fbd38d;
  --color-text-secondary: #feebc8;
  --color-text-tertiary: #fffaf0;

  --color-text-footer-primary: #2d3748;
  --color-text-footer-secondary: #2d3748;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply text-primary; 
  @apply bg-primary;
  transition: background 350ms ease 0s;
}
