:root {
  --color-bg-primary: #353b43;
  --color-bg-secondary: #feebc8;
  --color-bg-tertiary: #353e50;

  --color-text-primary: #57cc8a;
  --color-text-secondary: #feebc8;
  --color-text-tertiary: #fffaf0;

  --color-text-footer-primary: #353b43;
  --color-text-footer-secondary: #353b43;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply text-primary; 
  @apply bg-primary;
  transition: background 350ms ease 0s;
}
